.main-container{
    width: 768px;
    
    
}

.upper-panel {
   display: flex;
   flex-wrap: wrap;
   height: 100%;
   border: solid 2px black;
   width: 100%;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50%;
    width:100%;
    border: solid 2px red;
}

.left-logo{
    width: 50%;
    
}

.right-logo{
    width: 50%;

}

.nav-container {
    height: 50%;
     width:100%
}

.nav-container ul{
   display: flex;
   justify-content: space-around;
   list-style-image: url();
}

.nav-button{
    width:25%;
    
    
}