


body{
    margin: 0;
    font-family: 'Lato';
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364,#1b4253);
    
}

.wrapper{
    margin: auto;
    max-width: 1200px;
    
}

.upper-panel {
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
   align-items: center;
   width: 100%;
   border-bottom: 1px solid white;
 
}

.logo{
 
    width:25%;
    margin: 30px;
    line-height: 100px;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 100px;
    
    
}

.logo img{
    
    height: 150px;
    width: 175px;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 11px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 15px 11px rgba(255,255,255,1);
box-shadow: 0px 0px 15px 11px rgba(255,255,255,1);
    
    
}

.nav-container {
    
    width:50%;
   
}

.nav-container ul{
   height: auto;
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
   align-self: center;
}

.nav-container ul a{
    text-decoration: none;
 }


.nav-container ul li {
    
    
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    border-radius: 50%;
    border: white 1px solid;
    -webkit-box-shadow: 0px 0px 30px -3px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 30px -3px rgba(214,214,214,1);
    box-shadow: 0px 0px 30px -3px rgba(214,214,214,1);
    transition-property: background-color;
    transition-duration: 0.5s;
    margin-right: 30px;   
    
}

.nav-container ul li:hover {
    
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    border-radius: 50%;
    border: white 1px solid;
    background-color: white;
    cursor: pointer;
    margin-right: 30px;
    
}



/*panel główny*/

.center-panel{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #0f3138, #314b54, #3d6475,#2c5364);
    color: white;
    text-shadow: 0 0 10px #FF0000;
    display: flex;
    flex-wrap: wrap;
    
    
   
}

/*tytuł panelu głównego*/

.center-panel h1{
    justify-content: center;
    text-decoration: underline;
    font-size: 4em;
    padding-top: 30px;
    
}

.center-panel-title {
    
    text-align: center;
    padding-top: 10px;
    height: 100%;
    background: linear-gradient(to left, #0f3138, #314b54, #3d6475,#2c5364);
    border-bottom: 1px solid white;
    
}

.center-panel-title p {
    font-family: Lobster, cursive;
    font-size: 4em;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    text-shadow: 0 0 10px #FF0000;
}

/*tekst panelu głównego*/

.center-aside{
    width: 66%;
    text-align: center;
    margin-bottom: 50px;
}

.center-aside h1{
    
    margin:0;
    font-size: 2em;
    padding-bottom: 10px;
}

.center-aside p {

    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: left;

}

.center-aside p {

    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;

}

.center-panel-image-box{
    
    width: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
        
}

.center-panel-image-box img{
        
        width: 350px;
        height: 550px;     
        
}

/*Sekcja artykułów*/

.article-container{
    max-width: 100%;
    background: linear-gradient(to right, #8e0e00, #1f1c18);
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    
}

.article-title-bar{
    
    width: 100%;
    align-self: center;
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 50px;
    text-shadow: 2px 2px  #3b3b6d;
    

    
}

.article-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.article{
    width:25%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-shadow: 2px 2px  #3b3b6d;
    font-size: 20px;
    border: 2px solid white;
    margin-bottom: 80px;
    
    
}

.article-img{
    max-width: 100%;
    height: 50%;
    margin-bottom: 20px;
    
}

.article-img img{
    width: 100%;
    height: 274px;
    border-bottom: 2px solid white;
}

.article-title{
    height: 20%;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    
}
  

.article-footer{
    height: 10%;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.public-date{
    width: 50%;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    
}

.see-more{
    width: 50%;
}

.see-more button{
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    background: white;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 20px;
    
}

.see-more button:hover{
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 14px;
    font-family: Lato;
    color: white;
    font-weight: bold;
    background: red;
    
}
          
.page-footer{
    width: 100%;
    color:white;
    text-align: center;
    font-size: 24px;
    border-top: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 0 0 10px #FF0000;
}

/*tabela*/

.table-wrapper{
    
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

/*Galeria zdjęć*/


.gallery-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.galimg{
    width: 40%;
    height: 320px;
    padding: 50px;
    text-align: center;
    
}

.galimg img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(60%);
    transition: 1s;
}



.galimg:hover img{
    filter: grayscale(0) brightness(100%);
    -webkit-box-shadow: -5px 6px 77px -4px rgba(255,255,255,1);
    -moz-box-shadow: -5px 6px 77px -4px rgba(255,255,255,1);
    box-shadow: -5px 6px 77px -4px rgba(255,255,255,1);
}



/*media queries*/

@media screen and (max-width: 1200px){
    
    .main-container{
        max-width: 1200px;
        
    }

.nav-container {
        width:100%;
    
}


.article{
    width: 40%
}

.nav-container ul{
    height: auto;
    justify-content: center;
}

.upper-panel {
    height: auto;
    justify-content: center;
}



}

@media screen and (max-width: 880px){
    
    .main-container{
        max-width: 880px;
        
    }

.nav-container {
        width:100%;
    
}


.article{
    width: 80%
}

.nav-container ul{
    
    padding: 0;
    margin: 0;
    
}

.nav-container ul li{
    
    margin: 2px;
   
}

.nav-container ul li:hover{
    
    margin: 2px;
   
}

.upper-panel {
    height: auto;
    justify-content: flex-start;
}


.galimg img{
    width: 300px;
    height: 250px;
}

.galimg{

    width:100%;
}


}
